:root,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background: #202026;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-fora {
    height: 100%;
    display: flex;
    align-items: center;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(209, 168, 255);
    background: linear-gradient(90deg, rgba(209, 168, 255, 1) 0%, rgba(90, 204, 248, 1) 100%);
    padding: 24px;
    padding-bottom: 48px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 500px;
}

.card>p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #f5f5f5;
}

.card>h2 {
    margin: 0;
    padding: 0;
    color: #f5f5f5;
    font-size: 1.6rem;
}

.container {
    display: flex;
    justify-content: center;


}

.card_foto {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    margin-top: -40px;
    min-width: 240px;
}

.card_foto>h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    padding-bottom: 8px;
    color: #16161d;
}

.card_foto>img {
    height: 96px;
    border-radius: 50%;
}

.card_foto>h3 {
    padding: 0;
    margin: 0;
    padding-top: 8px;
}

.card_foto>p {
    padding: 0;
    margin: 0;
    padding-bottom: 16px;
}

.card_foto>p::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #acfca8;
    display: inline-block;
    margin-right: 8px;
}

.card_foto>.linkedin {
    padding: 16px 64px;
    background: #0077B7;
    border-radius: 8px;
    color: #f5f5f5;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.card_foto>.linkedin:hover {
    color: #16161d;
    background: #f5f5f5;
    border: 1px solid #16161d;
    animation: animacao .3s ease-in-out;
}

@keyframes animacao {
    from {
        opacity: 0;
        transform: translate3d(0, 30, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}